$primary: #329CC5;
$secondary: #761596;
$tertiary: #EE4C9D;

$white: #FFFFFF;
$white-smoke: #F3F3F3;
$white-lilac: #F1E8F5;
$light-smoke: #F8F8F8;
$light-smoke-2: #E5E5E5;
$gainsboro: #E1E1E1;
$sky: #EBF5F9;
$pewter: #dbdbdb;
$smoke: #C4C4C4;
$dark-grey: #767676;
$light-blue: #7ABBF7;
$blue: #0678BE;
$dark-blue: #225378;
$hacienda: #2981A3;
$midnight-blue: #110066;
$black: #212121;
$red: #E3051C;
$error: #ec524b;
$tabasco: #A6341B;
$violet: #9F5BB6;
$asparagus: #668C4A;
$green: #13A113;
$lemon: #1CEB6F;
$light-green: #90EE90;
$light-orange: #FFF4E5;
$light-yellow: #FFFAEB;
$yellow: #FFE08A;
$saffron: #F2C53D;
$strong-yellow: #946C00;
$gold: #FFD700;
$orange: #FF9800;
$dark-orange: #663C00;

// Neutrals
$neutral-50: #F2F2F2;
$neutral-100: #E5E5E5;
$neutral-200: #CCCCCC;
$neutral-300: #d4d4d4;
$neutral-400: #A5A5A5;
$neutral-500: #808080;
$neutral-600: #666666;
$neutral-700: #4D4D4D;
$neutral-800: #333333;

.smoke{
  color: $smoke;
}

.lifestyle_change{
  color: #f1625d;
}

.lifestyle_classic{
  color: #897ab9;
}

.lifestyle_generalist{
  color: #fbb040;
}

.lifestyle_hybrid{
  color: #ee2a7b;
}

.lifestyle_order{
  color: #5eacdf;
}

.lifestyle_explorer{
  color: #F78E36;
}

.lifestyle_specialist{
  color: #686868;
}

.superfit_int{
  color: #46B1FC;
}

.superfit_res{
  color: #F6C300;
}

.superfit_dis{
  color: #897ABF;
}

.superfit_eng{
  color: #f1625d;
}

.superfit_cur{
  color: #5bc4be;
}

.superfit_sin{
  color: #7e8894;
}
