<section class="consultant-page-setup">
  <section class="banner">
    <div class="default-view-container">
      <breadcrumbs [breadcrumbs]="breadcrumbs"></breadcrumbs>

      <h1 class="main-title is-size-5 mt-40">
        {{ 'Agentes.XmlProcessing' | translate }}
      </h1>
    </div>
  </section>

  <section id="content" class="content">
    <div class="default-view-container">
      <mat-tab-group class="mat-tab-group">
        <mat-tab label="{{ 'Agentes.XmlUpload' | translate }}">
          <div
            class="success-message font-weight-normal flex-row align-center justify-center has-text-centered font-18"
            [ngClass]="{'show': showSuccess}">
            {{ 'Agentes.SuccessMessage' | translate}}
          </div>

          <div class="content-tab-body flex-row">
            <div class="menu">
              <h2 class="content-tab-body-title mb-20 font-18 font-open-sans font-weight-normal">
                {{ 'Agentes.ConfigEachSession' | translate }}
              </h2>

              <nav class="nav flex-column justify-center">
                <div class="nav-item" (click)="selectNav(nav, i)" [ngClass]="{ 'active': nav.active }"
                  *ngFor="let nav of navs; let i = index;">
                  <ul>
                    <li *ngFor="let item of nav.items">
                      {{ item | translate}}
                    </li>
                  </ul>

                  <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
              </nav>
            </div>

            <div class="container flex-column">
              <loading *ngIf="loading"></loading>

              <ng-container id="customization" *ngIf="navs[0].active" class="table">
                <h2 class="content-tab-body-title mb-20 font-18 font-open-sans font-weight-normal">
                  {{ 'Agentes.LoadXml' | translate }}
                </h2>

                <div class="card">

                  <label class="mt-20">
                    {{ 'Agentes.AgentXml' | translate }}
                  </label>

                  <div class="flex-row justify-start align-center mb-20">
                    <div class="card card-button flex-row align-center mr-20">
                      <input type="file" class="file-input" name="photo" (change)="onXmlFileSelect($event)" />

                      <div class="circle">
                        <mat-icon>insert_drive_file</mat-icon>
                      </div>

                      <div class="text">
                        <h5 class="is-size-5 mb-4">{{ 'Agentes.LoadXml' | translate }}</h5>

                        <span>{{ 'Agentes.ClickHere' | translate }}</span>
                      </div>
                    </div>

                    <div *ngIf="xmlName">
                      <span>{{ xmlName }}</span>
                    </div>

                  </div>

                  <footer class="mt-40 flex-row align-start justify-start">
                    <button class="button big primary" (click)="sendFile()">
                      <span>{{ 'General.Send' | translate }}</span>

                      <div class="bg-animated white"></div>
                    </button>
                  </footer>
                </div>
              </ng-container>

              <ng-container id="contact" *ngIf="navs[1].active" class="sub-container">
                <h2 class="content-tab-body-title mb-20 font-18 font-open-sans font-weight-normal">
                  {{ 'Agentes.LoadConsolidatedData' | translate }}
                </h2>

                <section class="table">
                  <div class="table-header">
                    <div class="flex-1">
                      {{ 'Agentes.Abbr' | translate }}
                    </div>

                    <div class="flex-1">
                      {{ 'Agentes.GeracaoValor' | translate }}
                    </div>

                    <div class="flex-1">
                      {{ 'Agentes.CompraValor' | translate }}
                    </div>

                    <div class="flex-1 flex-row">
                      {{ 'Agentes.PrecoMedioValor' | translate }}
                    </div>

                    <div class="flex-1"></div>
                  </div>

                  <div class="table-body flex-column">
                    <div class="grid-row" *ngFor="let regiaoConsolidated of regiaoConsolidated; let i = index">
                      <div class="infos">
                        <div class="flex-row" *ngIf="regiaoConsolidated.sigla">
                          {{ regiaoConsolidated.sigla }}
                        </div>

                        <div class="flex-row" *ngIf="regiaoConsolidated.geracaoValorConsolidado">
                          R$ {{ regiaoConsolidated.geracaoValorConsolidado  | number : '1.2-2' }}
                        </div>

                        <div class="flex-row" *ngIf="regiaoConsolidated.compraValorConsolidado">
                          R$ {{ regiaoConsolidated.compraValorConsolidado  | number : '1.2-2' }}
                        </div>

                        <div *ngIf="regiaoConsolidated.precoMedioValorConsolidado">
                          R$ {{ regiaoConsolidated.precoMedioValorConsolidado  | number : '1.2-2' }}
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </ng-container>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </section>
</section>
